body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    margin-top: 60px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#signup {
    background-color: #4caf50;
    width: max-content;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#signup:hover{
    background-color: #45a049;
}

#switchP{
    margin-top: 0px;
    font-size: 13px;
}

#switchLink {
    color: #4caf50;
    cursor: pointer;
    text-decoration: none;
}

#switchLink:hover{
    color: #45a049;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}

.error-message {
    color: #ff0000;
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 14px;
}


#password-Req{
    text-align: start;
    margin-bottom: -10px;
}

li {
    text-align: start;
    font-size: 14px;
    color: #666666;

}
 
.dashboard-container {
    max-width: 1200px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    color: #333;
}

.logout-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

.input-group-text{
    display: flex;
}

#inp-txt{
    text-align: center;
    margin-right: 7px;
    margin-left: 7px;
    font-weight: 550;
    line-height: 2.3;
}

#sym{
    height: fit-content;
    padding-top: 0.3px;
    padding-bottom: 0.2px;
    padding-left: 1.5px;
    padding-right: 1.5px;
    background-color: #e8e8e8;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#amt_inp{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* new css */

#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4caf4fc0;
}



.nav_li{
    float: left;
}

.nav_li, .li_href{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    margin: 0;
    text-decoration: none;
}

.nav_li:hover:not(#active){
    background-color: #4caf50;
}

.logOut{
    background-color: #4caf50;
    cursor: pointer;
    width: max-content;
    color: white;
    margin: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right
}

.logOut:hover {
    background-color: #45a049;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#active {
    background-color: #4caf50;
}

.listExpenses{
    padding-left: 0px;
    list-style-type: none;
    text-align: left;
    color: #4f4f4f;
}  


#deleteBtn{
    background-color: #e11212;
    width: max-content;
    margin-top: -5px;
    color: white;
    padding: 7px;
    border: none;
    margin-left: 7px;
    border-radius: 4px;
    cursor: pointer;
    float: right;

}

#switchLinkPassword{
    color: #5b4caf;
    cursor: pointer;
    text-decoration: none;
}

#switchLinkPassword:hover{
    color: #534893;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}

/* report generation */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  table {
    border-collapse: collapse;
    width: 85%;
    padding: 10px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
  
    
  }
  
  th{
    color: white;
    background-color: rgb(0, 139, 194);
    padding: 8px;
    text-align: center;
  }
  
  td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #D6EEEE;
  }

  #pageBtn{
    background-color: #127bde;
    width: max-content;
    color: white;
    font-size: 10px;
    margin:5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
  }